<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>resume1</title>
</head>
<body style="margin: 0;padding: 0;">


<table align="center" border="1" cellpadding="0" cellspacing="0" width="600px">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border-collapse: collapse;">
                <tr>
                    <td align="center" style="padding: 40px 0 30px 0;">
                        感谢信
                    </td>
                </tr>

                <tr>
                    <td bgcolor="#ffffff" style="padding: 0px 30px 20px 30px">
                        <h4>亲爱的<span th:text="${name}"></span>同学，您好！</h4>


                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <p>
                                    非常感谢您投递了企业KK <span th:text="${positionName}"></span>职位。
                                </p>
                                <p>
                                    很遗憾，您暂时未能通过本次校招正式批的简历筛选。
                                </p>
                                <p>
                                但不要灰心哦，您的信息已录入到公司人才库，当有适合您的的职位开放时，
                                我们将第一时间联系您，也欢迎您继续关注企业KK。
                                </p>
                                <p>
                                    您可以通过关注我们的招聘公众号“企业KK招聘”，点击菜单栏的“社会招聘”or“校园招聘”→“应聘查询”，实时查看您申请职位的处理进度。
                                </p>
                            </tr>

                            <tr>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td style="padding: 20px 0px 10px 0px">
                                            (系统邮件，请勿直接回复)
                                        </td>
                                    </tr>
                                </table>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>